<div id="experience" class="section">
    <h2 class="skills-heading">Skills</h2>
    <div class="bodyy">

        <div class="wrapper">
            <i id="left" class="fa-solid fa-angle-left fa-fade" style="color: #4a2a2a;"></i>
            <ul class="carousel">
                <li class="card">
                    <h2 style="margin-bottom: 18px; color: #4a2a2a;">Front End</h2>
                    <div class="img">
                        <img src="/styles/frontend.svg" alt="tchski" draggable="false">
                    </div>
                    <p>React, Bootstrap, Tailwind</p>

                    <div class="proficiency-scale">
                        <div class="progress-bar" style="width: 76%;"></div>
                    </div>
                </li>
                <li class="card">
                    <h2 style="margin-bottom: 18px; color: #4a2a2a;">Back End</h2>
                    <div class="img">
                        <img src="/styles/backend.svg" alt="tchski" draggable="false">
                    </div>
                    <p>JavaScript, Node.js, Express.js</p>

                    <div class="proficiency-scale">
                        <div class="progress-bar" style="width: 85%;"></div>
                    </div>
                </li>
                <li class="card">
                    <h2 style="margin-bottom: 18px; color: #4a2a2a;">Database</h2>
                    <div class="img">
                        <img src="/styles/database.svg" alt="tchski" draggable="false">
                    </div>
                    <p>MongoDB, SQL</p>

                    <div class="proficiency-scale">
                        <div class="progress-bar" style="width: 80%;"></div>
                    </div>
                </li>
                <li class="card">
                    <h2 style="margin-bottom: 18px; color: #4a2a2a;">Data Structures</h2>
                    <div class="img">
                        <img src="/styles/algorithm.svg" alt="tchski" draggable="false">
                    </div>
                    <p>Algorithms analysis</p>

                    <div class="proficiency-scale">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                </li>
                <li class="card">
                    <h2 style="margin-bottom: 18px; color: #4a2a2a;">Programming</h2>
                    <div class="img">
                        <img src="/styles/java.svg" alt="tchski" draggable="false">
                    </div>
                    <p>Java, JavaScript, Python, C++</p>

                    <div class="proficiency-scale">
                        <div class="progress-bar" style="width: 95%;"></div>
                    </div>
                </li>
            </ul>
            <i id="right" class="fa-solid fa-angle-right fa-fade" style="color: #4a2a2a;"></i>
        </div>
    </div>

    <div class="coding-profiles-container">
        <div class="coding-profiles">
            <a href="https://leetcode.com/u/__janmesh/" target="_blank">
                <img src="/styles/leetcode.png" alt="LeetCode Profile" class="coding-profile-logo">
            </a>
            <p class="profile-description">
                <p>Knight(1852)</p>
                <p>700+ DSA</p>
            </p>
        </div>
        <div class="coding-profiles">
            <a href="https://www.codechef.com/users/ssn108" target="_blank">
                <img src="/styles/codechef.png" alt="CodeChef Profile" class="coding-profile-logo">
            </a>
            <p class="profile-description">3 star Max(1641)</p>
        </div>
        <div class="coding-profiles">
            <a href="https://www.naukri.com/code360/profile/janmesh" target="_blank">
                <img src="/styles/codeforces.png" alt="CodingStudio Profile" class="coding-profile-logo">
            </a>
            <p class="profile-description">Master on Code360</p>
        </div>
    </div>
</div>