<section class="home-section">
    <div class="content-wrapper">
        <h1 id="name-animation">I AM JANMESH RAJPUT</h1>
        <div class="role-heading">
            <!-- <h2 id="role-animation-1">CSE'26 IIIT Pune</h2> -->
            <h2 id="role-animation-2">Software Engineer</h2>
        </div>
        <div class="contact-button">
            <a href="#contact" class="cta-button">Contact</a>
        </div>
    </div>
</section>
