<nav class="navbar">
    <div class="container navbar-inner">
        <a href="#" class="logo">JR</a>
        <button class="menu-toggle" aria-label="Toggle Menu">
            <span class="menu-bar"></span>
            <span class="menu-bar"></span>
            <span class="menu-bar"></span>
        </button>
        <div class="nav-links">
            <a class="nava" href="#experience">Experience</a>
            <a class="nava" href="#skills">Skills</a>
            <a class="nava" href="#projects">Projects</a>
            <a class="nava" href="#achievements">Achievements</a>
            <a class="nava" href="#contact">Contact</a>
        </div>
    </div>
</nav>
