<nav class="navbar">
    <div class="logo"><a href="/">JR</a></div>
    <button class="menu-toggle" aria-label="Toggle Menu">
        <span class="menu-bar"></span>
        <span class="menu-bar"></span>
        <span class="menu-bar"></span>
    </button>
    <div class="nav-links">
        <a class="nava" href="#profile">Profile</a>
        <a class="nava project-section" href="#projects">Projects</a>
        <a class="nava experience" href="#experience">Experience</a>
        <a class="nava" href="#contact">Contact</a>
    </div>
</nav>


<script>
    function updateActiveLink() {
        const navLinks = document.querySelectorAll('.nava');
        const currentHash = window.location.hash;
        navLinks.forEach(link => link.classList.remove('active'));
        navLinks.forEach(link => {
            if (link.getAttribute('href') === currentHash) {
                link.classList.add('active');
            }
        });
    }
    window.addEventListener('load', updateActiveLink);

    window.addEventListener('hashchange', updateActiveLink);

    const navLinks = document.querySelectorAll('.nava');
    navLinks.forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            window.location.hash = this.getAttribute('href').substring(1);
            updateActiveLink();
        });
    });

    document.querySelector('.menu-toggle').addEventListener('click', function() {
        this.classList.toggle('active');
        document.querySelector('.nav-links').classList.toggle('show');
    });
</script>