<div id="profile" class="section profile-section">
    <h2></h2>
    <div class="profile-content">

        <div class="profile-left">
            <img src="/styles/my_img2.jpg" alt="Janmesh Rajput" class="profile-image">

        </div>
        <div class="profile-right">
            <h3 style="color: #4a2a2a; margin:0 0 0 10px;">ABOUT</h3>
            <p class="profile-p" style="margin-top: 0;">
                I am full stack web developer with a string hold on DSA and student at
            </p>
            <div class="education-details">
                <p><strong>College:</strong> Indian Institute of Information Technology Pune</p>
                <p><strong>Degree:</strong> Bachelor of Technology</p>
                <p><strong>Department:</strong> Computer Science and Engineering</p>
                <p><strong>Pass-out Year:</strong> 2026</p>
                <p><strong>CGPA:</strong> 8.61/10.0</p>
            </div>
            <p class="profile-p">
                I love working on projects that combine creativity with functionality to solve real world problems.
            </p>
            <p class="profile-p">
                In my free time, you’ll find me coding, reading up on topics that intrigue me or searhing my next vacation spot :).
            </p>
            <a href="/styles/Janmesh_Rajput.pdf" class="resume-download" download>Download CV</a>
        </div>
    </div>

</div>
