<div id="projects" class="section">
    <h2 class="pro-heading" style="color: #4a2a2a;">Projects</h2>
    <div class="projects">
        <div class="project1">
            <img src="/styles/wanderlustb&w.png" alt="" class="pro-img wanderlust-img">
            <div class="project-details">
                <h2 style="color: #4a2a2a;">JavaScript</h2>
                <p>Created Wanderlust, a platform similar to Airbnb, allowing users to list and manage homes or hotels, with features like real-time location tracking and advanced search filters for seamless booking experiences.</p>
                <a href="https://wanderlust-find-your-destination.onrender.com/listings">Live
                </a>
            </div>
        </div>
        <div class="project2">
            <div class="project-details">
                <h2 style="color: #4a2a2a;">Django</h2>
                <p>Agrow is a multilingual, AI-powered platform that streamlines farming with features like crop health monitoring, soil analysis, government schemes, weather forecasts, and more.</p>
                <a href="https://github.com/janmesh1814/Agrow">Live</a>
            </div>
            <img src="/styles/agrowb&w.png" alt="" class="pro-img agrow-img">
        </div>
        <div class="project3">
            <img src="/styles/weatherb&w.png" alt="" class="pro-img weather-img">
            <div class="project-details">
                <h2 style="color: #4a2a2a;">WOW</h2>
                <p>Developed a real-time weather website using OpenWeatherMap API with dynamic background changes based on weather and time.</p>
                <a href="https://janmesh1814.github.io/wa/">Live</a>
            </div>
        </div>
    </div>
</div>
