.projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-box {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 300px;
    transition: box-shadow 0.3s ease;
}


/* Hover shadow */

.project-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}


/* Image transition */

.pro-img {
    width: 500px;
    margin: 2rem;
    transition: opacity 0.4s ease-in-out;
}

.pro-img {
    width: 500px;
    margin: 2rem;
    transition: opacity 0.4s ease-in-out;
}


/* Remove ALL hover opacity rules */

.project-details {
    margin: 2rem;
}

.pro-heading {
    margin-bottom: 2rem;
}